__pycache__/
*.py[cod]
/packages/*/pkg/
/packages/*/src/
/packages/*/*.pkg.tar.*
/packages/*/*.src.tar.*
/packages/*/*.tar.gz
/packages/*/*.tar.bz2
/packages/*/*.tar.xz
/packages/*/*.whl
/packages/*/*.zip
/packages/ctranslate2/CTranslate2/
/packages/ctranslate2/cpu_features/
/packages/ctranslate2/cpuinfo/
/packages/ctranslate2/cub/
/packages/ctranslate2/cutlass/
/packages/ctranslate2/cxxopts/
/packages/ctranslate2/googletest/
/packages/ctranslate2/ruy/
/packages/ctranslate2/spdlog/
/packages/ctranslate2/thrust/
/.codex
/.firecrawl/
/repo/x86_64/*
!/repo/x86_64/.gitignore
