/packages/*/pkg/
/packages/*/src/
/packages/*/*.pkg.tar.*
/packages/*/*.src.tar.*
/packages/*/*.tar.gz
/packages/*/*.tar.bz2
/packages/*/*.tar.xz
/packages/*/*.zip
/.codex
/.firecrawl/
/repo/x86_64/*
!/repo/x86_64/.gitignore
